@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">

        @using (Html.BeginForm("AddRecord", "Home"))
        {
            <label for="category" class="col-sm-2 control-label">類別</label>
            <select id="category"  name="category" class="form-control">
                <option value="" selected>請選擇</option>
                <option>支出</option>
                <option>收入</option>
            </select>
 
            <label for="money" class="col-sm-2 control-label">金額</label>
            <input type="text" class="form-control" id="money" name="money" placeholder="金額">

            <label for="date" class="col-sm-2 control-label">日期</label>
            <input type="text" class="form-control" id="date" name="date" placeholder="日期">

            <label for="description" class="col-sm-2 control-label">備註</label>
            <textarea class="form-control" id="description" name="description"></textarea>

            <button type="submit" class="btn btn-default">送出</button>
        }
   
</div>

<div>
    @Html.Action("GetAssetList")
</div>