@helper ChangeColor(string content, int color)
{
    if (color == 1)
    {
        <span style="color:red">@content</span>
    }
    else
    {
        <span style="color:blue">@content</span>
    }
}